.~
.#

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*bbl
*.blg
lecture-notes/main.pdf
lecture-notes/_minted-main

.virtual_documents
.ipynb_checkpoints